<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}File Import{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">
    {% block styles %}

    {% endblock %}
</head>

<body>
    <div class="modal-backdrop hidden">
        <div class="config-menu">
            <div class="card">
                <h2 class="card-title"> Detection Settings </h2>

                <form action="/settingChange" method="POST">
                    <fieldset style="margin-bottom:2.5%;">
                        <legend style="margin-left:2.5%;">Time Bucket Settings:</legend>
                        <div style="margin-left:5%; margin-bottom:10px;">
                            <label for="timeUnit">Time Unit:</label>
                            <select id="timeUnit" name="unit">
                                <option value="minutes">Minutes</option>
                                <option value="hours" selected>Hours</option>
                                <option value="days">Days</option>
                                <option value="weeks">Weeks</option>
                                <option value="months">Months</option>
                                <option value="years">Years</option>
                            </select>
                        </div>

                        <div style="margin-left:5%;">
                            <label for="amountSlider">
                                Amount: <span id="amountValue">1</span>
                            </label><br>

                            <input type="range" id="amountSlider" name="amount" min="1" max="24" value="1"
                                oninput="document.getElementById('amountValue').innerText = this.value;">
                        </div>
                    </fieldset>

                    <fieldset style="margin-bottom:2.5%;">
                        <legend style="margin-left:2.5%;">Choose what classes are enabled:</legend>

                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='Convertible'>
                            <input type="checkbox" id="Convertible" name="Convertible" checked />
                            <label for="Convertible">Convertible</label>
                        </div>

                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='Coupe'>
                            <input type="checkbox" id="Coupe" name="Coupe" checked />
                            <label for="Coupe">Coupe</label>
                        </div>

                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='Hatchback'>
                            <input type="checkbox" id="Hatchback" name="Hatchback" checked />
                            <label for="Hatchback">Hatchback</label>
                        </div>

                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='Pick-Up'>
                            <input type="checkbox" id="Pick-Up" name="Pick-Up" checked />
                            <label for="Pick-Up">Pick-Up</label>
                        </div>
                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='Sedan'>
                            <input type="checkbox" id="Sedan" name="Sedan" checked />
                            <label for="Sedan">Sedan</label>
                        </div>
                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='SUV'>
                            <input type="checkbox" id="SUV" name="SUV" checked />
                            <label for="SUV">SUV</label>
                        </div>
                        <div style="margin-left: 5%;">
                            <input type='hidden' value='off' name='VAN'>
                            <input type="checkbox" id="VAN" name="VAN" checked />
                            <label for="VAN">Van</label>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend style="margin-left:2.5%">Maximum Pattern Delay:</legend>

                        <div style="margin-left: 5%;">
                            <input type="range" id="time" name="time" checked />
                            <label for="time"> 12 Hours - 30 Days</label>
                        </div>
                    </fieldset>

                    <input type="submit" style="margin:auto; margin-top: 2.5%;">
                </form>

            </div>
        </div>
    </div>

    <nav>
        <div class="nav-logo">WorkSpace</div>
        <a href="{{ url_for('patterns') }}" id="patterns-active">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
            </svg>
            Patterns
        </a>
        <a href="{{ url_for('visualizations') }}" id="results-active">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="18" y1="20" x2="18" y2="10" />
                <line x1="12" y1="20" x2="12" y2="4" />
                <line x1="6" y1="20" x2="6" y2="14" />
                <line x1="2" y1="20" x2="22" y2="20" />
            </svg>
            Visualizations
        </a>
        <a href="{{ url_for('files') }}" id="files-active">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                <polyline points="14 2 14 8 20 8" />
            </svg>
            Files
        </a>
        <a href="{{ url_for('download_csv') }}">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="12" cy="12" r="3" />
                <path d="M19.07 4.93A10 10 0 1 0 4.93 19.07" />
            </svg>
            Export
        </a>
        <a onclick="openConfigMenu()">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="settings-icon">
                <circle cx="12" cy="12" r="3"></circle>
                <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                </path>
            </svg>
            Settings
        </a>
    </nav>
    {% block content %}
    
    {% endblock %}

    <script defer src="{{ url_for('static', filename='JS/base.js') }}"></script>
    {% block scripts %}
    
    {% endblock %}

</body>

</html>